* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "微软雅黑";
  font-size: .32rem;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html .header,
body .header,
.wrap .header {
  height: 1rem;
  width: 100%;
  background: darkgreen;
}
html .section,
body .section,
.wrap .section {
  flex: 1;
}
html .section .act,
body .section .act,
.wrap .section .act {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: .6rem;
  overflow: hidden;
}
html .section .act li,
body .section .act li,
.wrap .section .act li {
  text-align: center;
  list-style: none;
  line-height: 1rem;
  padding: 0rem .48rem;
}
html .section .act li span,
body .section .act li span,
.wrap .section .act li span {
  display: inline-block;
  color: #a9a9a9;
  text-align: center;
}
html .section .act li .active,
body .section .act li .active,
.wrap .section .act li .active {
  border-bottom: 1px solid #4e6ff5;
  color: #7991f7;
}
html .footer,
body .footer,
.wrap .footer {
  height: 1rem;
  width: 100%;
  background: darkgreen;
}
